<div class="container">

    <div #appRoot>
        <app-loading-animation *ngIf="showLoading"></app-loading-animation>
        <div [hidden]="showLoading">
            <h1> My Portfolio</h1>
            <div class="line"></div>


            <div class="row">

                <div class="logo-container">
                    <div class="logo">
                        <img src="../../../../assets/Word Around/icon.png" width="100%" height="100%" class="img">
                    </div>

                    <div class="text-container">
                        <h2>WordAround</h2>
                        <h3>Released: IOS / Anrdoid</h3>
                        <h3>Developed with: Javascript / React.js</h3>
                        <h4>Designer <a class="white">/</a> Developer <a class="white">/</a> Artist <a
                                class="white">/</a>
                            Composer </h4>

                    </div>
                </div>

                <ul>
                    <li>
                        <img src="../../../../assets/Word Around/home_screen.png" width="auto" height="100%"
                            class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Word Around/game_screen.png" width="auto" height="100%"
                            class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Word Around/win_screen.png" width="auto" height="100%" class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Word Around/lose_screen.png" width="auto" height="100%"
                            class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Word Around/instructions_screen.png" width="auto" height="100%"
                            class="img">
                    </li>
                </ul>

            </div>
            <div class="line"></div>
            <div class="row">

                <div class="logo-container">
                    <div class="logo">
                        <img src="../../../../assets/Sokodice/sokodice-icon.png" width="100%" height="100%" class="img">
                    </div>

                    <div class="text-container">
                        <h2>Sokodice</h2>
                        <h3>Released: IOS / Anrdoid / Nintendo Switch / Steam</h3>
                        <h3>Developed with: C# / Unity</h3>
                        <h4>QA <a class="white">/</a> Composer <a class="white">/</a> SFX <a class="white">/</a> Limited
                            Game & Level Design</h4>

                    </div>
                </div>

                <ul>
                    <li>
                        <img src="../../../../assets/Sokodice/windy_screen.png" width="auto" height="100%" class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Sokodice/snow_screen.png" width="auto" height="100%" class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Sokodice/desert_screen.png" width="auto" height="100%" class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Sokodice/ice_screen.png" width="auto" height="100%" class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/Sokodice/one_screen.png" width="auto" height="100%" class="img">
                    </li>
                </ul>
            </div>
            <div class="line"></div>
            <div class="row">

                <div class="logo-container">
                    <div class="logo">
                        <img src="../../../../assets/One Click Santa/Logo.png" width="100%" height="100%" class="img">
                    </div>

                    <div class="text-container">
                        <h2>One Click Santa</h2>
                        <h3>Released: Itch.io</h3>
                        <h3>Developed with: Javascript / Phaser</h3>
                        <h4>Designer <a class="white">/</a> Developer <a class="white">/</a> Artist</h4>

                    </div>
                </div>

                <ul>
                    <li>
                        <img src="../../../../assets/One Click Santa/game_screen.png" width="auto" height="100%"
                            class="img">
                    </li>
                    <li>
                        <img src="../../../../assets/One Click Santa/reindeer_screen.png" width="auto" height="100%"
                            class="img">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>