<div class="screen-container">
    <div class="text-container">
        <div>
            <h1 class="name">
                Experience
            </h1>

            <h3>
                Professional: Socially Awkward Studio
            </h3>
            <h3>
                Education: Humber College - Computer Programming
            </h3>

        </div>
    </div>
    <div class="skills-container">
        <div class="skills-text-container">
            <div class="skills-column">
                <a class="skills-text-header">
                    Front-End Development
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        Angular
                    </a>
                    <a class="skills-text-info">
                        ReactJS
                    </a>
                    <a class="skills-text-info">
                        React-Native
                    </a>
                    <a class="skills-text-info">
                        HTML
                    </a>
                    <a class="skills-text-info">
                        CSS
                    </a>
                    <a class="skills-text-info">
                        Bootstrap
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    Back-End Development
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        Django
                    </a>
                    <a class="skills-text-info">
                        Spring Boot
                    </a>
                    <a class="skills-text-info">
                        Node.js
                    </a>
                    <a class="skills-text-info">
                        Express.js
                    </a>
                    <a class="skills-text-info">
                        MongoDB
                    </a>
                    <a class="skills-text-info">
                        MySQL
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    API Development
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        REST
                    </a>
                    <a class="skills-text-info">
                        JSON
                    </a>
                    <a class="skills-text-info">
                       CRUD
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    Mobile Development
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        Xcode
                    </a>
                    <a class="skills-text-info">
                        Android Studio
                    </a>
                    <a class="skills-text-info">
                        Expo Go
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    Engines
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        Unity
                    </a>
                    <a class="skills-text-info">
                        Phaser
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    IDEs
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        VS Code
                    </a>
                    <a class="skills-text-info">
                        NetBeans
                    </a>
                    <a class="skills-text-info">
                        IntelliJ
                    </a>
                </div>
            </div>
            <div class="vertical-border"></div>
            <div class="skills-column">
                <a class="skills-text-header">
                    Programming Languages
                </a>
                <div class="skills-info-container">
                    <a class="skills-text-info">
                        C#
                    </a>
                    <a class="skills-text-info">
                        JavaScript
                    </a>
                    <a class="skills-text-info">
                        Java
                    </a>
                    <a class="skills-text-info">
                        Python
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>