<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Spartan">


<header>
    <div class="container">
        <div class="subContainer1">
            <a routerLink="/" class="logo">MyWebsite</a>
        </div>
        <div class="subContainer2">
            <nav>
                <ul>
                    <li>
                        <a routerLink="/portfolio" class="router-link-active">.portfolio()</a>
                    </li>
                    <li>
                        <a routerLink="/resume"  class="router-link-active">.resume()</a>
                    </li>
                    <li>
                        <a routerLink="/contact"  class="router-link-active">.contact()</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>